<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.feedhenry.plugins.apkdownloader"
        version="0.0.1">
    <name>ApkDownloader</name>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ApkDownloader">
                <param name="android-package" value="com.feedhenry.phonegap.apkdownloader" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        
        <source-file src="src/android/Apkdownloader.java" target-dir="src/com/feedhenry/phonegap/apkdownloader" />
        <source-file src="src/android/AsyncFileDownloader.java" target-dir="src/com/feedhenry/phonegap/apkdownloader" />
    </platform>

</plugin>